#
# pyats関連
#
pyats[full]
rest.connector
yang.connector


# pyATSはMobility ExpressのWLCに接続できないのでparamikoを利用
netmiko

# 表形式にするのに便利
tabulate

# テンプレート利用時に
jinja2

# データ保管用
tinydb

# pyatsと依存関係にあるのでpyatsを先に入れることで不要になる
# pyyaml

# ip-apiのAPIサービス利用時、ソフトバンク光ルータからのスクレイピング時に利用
requests

# デーモン化
python-daemon

# 定期実行
schedule